@using Microsoft.AspNetCore.Identity
@model Ayuda

<br />
<br />
<div class="row">
    <div class="col-md-12">
        <form method="post" asp-controller="Admin" asp-action="CreateAyuda" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="titulo" class="control-label">Titulo</label>
                <input asp-for="titulo" class="form-control" required />
                <span asp-validation-for="titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="urlDocumento" class="control-label">Documento</label>
                <input asp-for="urlDocumento" type="file" class="form-control" accept="application/pdf" required />
                <span asp-validation-for="urlDocumento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Role">Rol:</label>
                <select name="role" class="form-control" multiple required>
                    @foreach (IdentityRole role in (IQueryable<IdentityRole>)ViewData["roles"])
                    {
                        <option value="@role.Name">@role.Name</option>
                    }

                </select>
            </div>
            <input type="submit" class="btn btn-custom" value="Agregar" />
        </form>
    </div>
</div>