@model DateTime

<h2>@ViewData["Message"]</h2>

<div class="row">
    <form asp-controller="Convertion" asp-action="UVR_Pesos" id="convertionUVRPesos" method="post">
        <div class="col-md-6">
            <table class="table">
                <tbody>
                    <tr>
                        <td><label>Cantidad de UVR</label></td>
                        <td><input type="number" class="no-numbar" name="cantidad" step="0.01" required /></td>
                    </tr>
                    <tr>
                        <td><label>Fecha</label></td>
                        <td><input type="date" name="fecha" value="@Model.ToString("yyyy-MM-dd")" /></td>
                    </tr>
                </tbody>
            </table>
            <center>
                <label>UVR del Día: <span id="tasa"></span></label>
                <br />
                <label>Total: $ <span id="result">0</span></label>
            </center>
        </div>
        <div class="col-md-6">
            <div>
                <h5>Convertir de:</h5>
                <input type="radio" name="moneda" value="pesos" checked /> UVR a Pesos
                <br />
                <input type="radio" name="moneda" value="uvr" /> Pesos a UVR
            </div>
            <div>
                <h5>Última Actualización UVR</h5>
                <label>@Model.ToShortDateString()</label>
            </div>
            <button class="btn btn-custom" type="submit">Calcular</button>
            <br />
            <button class="btn btn-danger" type="reset">Nuevo Cálculo</button>
        </div>
    </form>
</div>

@section Scripts{
    <script src="~/js/convertions.js" asp-append-version="true"></script>
}