@{
    ViewData["Title"] = "Acerca de";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<br /><br /><br />
<div class="row">
    <div class="col-md-4">
        <img src="" alt="Imagen Logo" />
    </div>

    <div class="col-md-8">
        <center>
            <div class="about-div">
                <p>Liquidador Judicial</p>
                <p>Versión 2.0.0.0A</p>
                <p>Copyright &copy; CSJ 2011</p>
                <p>Consejo Superior de la Judicatura</p>

                <textarea disabled>
                    Módulo de Liquidaciones Judiciales de la Rama Judicial.
                </textarea>
            </div>
        </center>
    </div>
</div>