<div class="row">
    <div class="col-md-12">
        @* <a asp-action="PdfSimple" asp-controller="Home" asp-area="">PDF Simple</a> *@
        @*<a asp-action="CrearProceso" asp-controller="Home" asp-area="">Crear Proceso</a>*@
    </div>
</div>