@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmar restauración de la contraseña";
}

<h2>@ViewData["Title"]</h2>
<p>
    Por favor, revisa tu correo electrónico para restaurar tu contraseña.
</p>

