@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmar recuperación de contraseña";
}

<h2>@ViewData["Title"]</h2>
<p>
    Tu contraseña ha sido recuperada. Por favor, <a asp-page="./Login">haz click aquí para iniciar sesión</a>.
</p>
