<partial name="_Form_SearchProcess" />
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-devengado">Devengado</a></li>
            <li><a data-toggle="tab" href="#tab-cesantias">Cesantías</a></li>
            <li><a data-toggle="tab" href="#tab-primas">Primas</a></li>
            <li><a data-toggle="tab" href="#tab-vacaciones">Vacaciones</a></li>
            <li><a data-toggle="tab" href="#tab-costas">Costas</a></li>
        </ul>

        <div class="tab-content">
            <div id="tab-devengado" class="tab-pane fade in active">
                <div class="col-md-7" style="padding:0px">
                    <div class="col-md-6" style="padding:0px">
                        <fieldset>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Salario Base</td>
                                        <td><input type="number" name="salario" /></td>
                                    </tr>
                                    <tr>
                                        <td>Subsidio Transp</td>
                                        <td><input type="number" name="subsidio" /></td>
                                    </tr>
                                    <tr>
                                        <td>Liquidar</td>
                                        <td>
                                            <select name="liquidar">
                                                <option value="1" data-hours="240" selected>Mensual (240 horas)</option>
                                                <option value="2" data-hours="120">Quincenal (120 horas)</option>
                                                <option value="4" data-hours="60">Semanal (60 horas)</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Horas</td>
                                        <td><input type="number" name="horas" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </fieldset>
                        <fieldset>
                            <legend>Horas Extras</legend>
                            <table id="tbl_he" class="table">
								<colgroup>
									<col style="width:20px;">
									<col span=2>
								</colgroup>
                                <tbody>
                                    <tr>
                                        <td>Diurnas</td>
                                        <td><input type="text" length="3" maxlength="3" pattern="\d{3}" name="he_diurna" /></td>
										<td id="hr_diurna">Vr Hora: <span></span></td>
                                    </tr>
                                    <tr>
                                        <td>Nocturnas</td>
                                        <td><input type="text" length="3" maxlength="3" pattern="\d{3}" name="he_nocturna" /></td>
										<td id="hr_nocturna">Vr Hora: <span></span></td>
                                    </tr>
                                    <tr>
                                        <td>Fest. Diurnas</td>
                                        <td><input type="text" length="3" maxlength="3" pattern="\d{3}" name="he_fdiurna" /></td>
										<td id="hr_fdiurna">Vr Hora: <span></span></td>
                                    </tr>
                                    <tr>
                                        <td>Fes</td>
                                        <td><input type="text" length="3" maxlength="3" pattern="\d{3}" name="he_fnocturna" /></td>
										<td id="hr_fnocturna">Vr Hora: <span></span></td>
                                    </tr>
                                    <tr>
                                        <td>Recargo</td>
                                        <td><input type="text" length="3" maxlength="3" pattern="\d{3}" name="he_recargo" /></td>
										<td id="hr_recargo">Vr Hora: <span></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </fieldset>
                    </div>

                    <div class="col-md-6">
                        <fieldset>
                            <legend>Liquidación</legend>
                            <table id="tabla_calculadora" class="table">
                                <tbody>
                                    <tr>
                                        <td>Básico</td>
                                        <td id="basico">$ <span></span></td>
                                    </tr>
                                    <tr>
                                        <td>Subsidio Transporte</td>
                                        <td id="subsidio">$ <span></span></td>
                                    </tr>
                                    <tr>
                                        <td>HE Diurnas</td>
                                        <td id="he_diurna">$ <span></span></td>
                                    </tr>
                                    <tr>
                                        <td>HE Nocturnas</td>
                                        <td id="he_nocturna">$ <span></span></td>
                                    </tr>
                                    <tr>
                                        <td>HE Festivas</td>
                                        <td id="he_fdiurna">$ <span></span></td>
                                    </tr>
                                    <tr>
                                        <td>HE Festivas Nocturnas</td>
                                        <td id="he_fnocturna">$ <span></span></td>
                                    </tr>
                                    <tr>
                                        <td>Recargo Nocturno</td>
                                        <td id="recargo_nocturno">$ <span></span></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Total Devengado</th>
                                        <th id="total">$ <span></span></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </fieldset>
                    </div>

                    <div class="col-md-12">
                        <h5>Período a Liquidar</h5>
                        <label>Fecha Inicial</label>
                        <input type="date" name="f_inicial" />
                        <label>Fecha Final</label>
                        <input type="date" name="f_final" />
                        <br />
                        <button class="btn" id="btn_agregar">Agregar</button>
                        <button class="btn">Grabar</button>
                        <button class="btn">Exportar a</button>
                        <button class="btn">Cancelar</button>
                    </div>
                </div>

                <div class="col-md-5" style="overflow:scroll;">
					<fieldset>
						<legend>Períodos Liquidados</legend>
						<table id="t_liquidacion" class="table table-responsive">
							<tr><th>Encabezado</th></tr>
							<tr><th>F. Inicial</th></tr>
							<tr><th>F. Final</th></tr>
							<tr><th>Salario</th></tr>
							<tr><th>Subsidio</th></tr>
							<tr><th>H. Trab</th></tr>
							<tr><th>HED</th></tr>
							<tr><th>HEN</th></tr>
							<tr><th>HEFD</th></tr>
							<tr><th>HEFN</th></tr>
							<tr><th>RN</th></tr>
							<tr><th>Vr. Básico</th></tr>
							<tr><th>Vr. Subsi</th></tr>
							<tr><th>Vr. HED</th></tr>
							<tr><th>Vr. HEN</th></tr>
							<tr><th>Vr. HEFD</th></tr>
							<tr><th>Vr. HEFN</th></tr>
							<tr><th>Vr. RN</th></tr>
						</table>
					</fieldset>
                </div>
            </div>

            <div id="tab-cesantias" class="tab-pane fade">
				<div class="col-md-4">
                    <fieldset>
                        <legend>Datos Liquidación</legend>
                        <form method="post" id="frm_cesantias">
                            <table class="table">
                                <tr>
                                    <td>Último salario o Promediar Salarios</td>
                                    <td><input type="text" class="no-numbar" name="salario" required></td>
                                </tr>
                                <tr>
                                    <td>Fecha Inicial</td>
                                    <td><input type="date" name="fechaInicial" required></td>
                                </tr>
                                <tr>
                                    <td>Fecha Final</td>
                                    <td><input type="date" name="fechaFinal" required></td>
                                </tr>
                                <tr>
                                    <td>% Rendimientos Fin</td>
                                    <td><input type="number" name="rendimiento"></td>
                                </tr>
                            </table>
                            <button type="submit" class="btn btn-default">Liquidar</button>
                            <button type="reset" class="btn">Borrar Todos</button>
                        </form>
                    </fieldset>
				</div>
				
				<div class="col-md-8">
					<h3>Períodos Liquidados</h3>
					<table id="tbl_cesantias" class="table">
						<thead>
							<tr>
								<th>No</th>
								<th>F. Inicial</th>
								<th>F. Final</th>
								<th>Días</th>
								<th>Salario</th>
								<th>Cesantías</th>
								<th>Int Cesantías</th>
								<th>Rendimientos</th>
								<th>Total</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
            </div>

            <div id="tab-primas" class="tab-pane fade">
				<div class="col-md-4">
					<fieldset>
						<legend>Datos Liquidación</legend>
                        <form method="post" id="frm_primas">
                            <table class="table">
                                <tr>
                                    <td>Último salario o Promediar Salarios</td>
                                    <td><input type="text" class="no-numbar" name="salario" required></td>
                                </tr>
                                <tr>
                                    <td>Fecha Inicial</td>
                                    <td><input type="date" name="fechaInicial" required></td>
                                </tr>
                                <tr>
                                    <td>Fecha Final</td>
                                    <td><input type="date" name="fechaFinal" required></td>
                                </tr>
                            </table>
                            <button type="submit">Liquidar</button>
                            <button type="reset">Borrar Todos</button>
                        </form>
					</fieldset>
				</div>
				
				<div class="col-md-8">
					<fieldset>
						<legend>Períodos Liquidados</legend>
						<table class="table" id="tbl_primas">
							<thead>
								<tr>
									<th>No</th>
									<th>F. Inicial</th>
									<th>F. Final</th>
									<th>Días</th>
									<th>Salario</th>
									<th>Vr. Prima</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</fieldset>
				</div>
            </div>

            <div id="tab-vacaciones" class="tab-pane fade">
				<div class="col-md-4">
					<fieldset>
						<legend>Datos Liquidación</legend>
                        <form method="post" id="frm_vacaciones">
                            <table class="table">
                                <tr>
                                    <td>Último salario o Promediar Salarios</td>
                                    <td><input type="text" class="no-numbar" name="salario" required></td>
                                </tr>
                                <tr>
                                    <td>Fecha Inicial</td>
                                    <td><input type="date" name="fechaInicial" required></td>
                                </tr>
                                <tr>
                                    <td>Fecha Final</td>
                                    <td><input type="date" name="fechaFinal" required></td>
                                </tr>
                            </table>
                            <button type="submit">Liquidar</button>
                            <button type="reset">Borrar Todos</button>
                        </form>
					</fieldset>
				</div>
				
				<div class="col-md-8">
					<fieldset>
						<legend>Períodos Liquidados</legend>
						<table class="table" id="tbl_vacaciones">
							<thead>
								<tr>
									<th>No</th>
									<th>F. Inicial</th>
									<th>F. Final</th>
									<th>Días</th>
									<th>Salario</th>
									<th>Vr. Vacaciones</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</fieldset>
				</div>
            </div>

            <div id="tab-costas" class="tab-pane fade">
				<div class="col-md-4">
					<fieldset>
						<legend>Costas del Proceso</legend>
						<div class="col-md-6">Agencias en</div>
						<div class="col-md-6"><input type="number"></div>
					</fieldset>
				</div>
				
				<div class="col-md-8">
					<fieldset>
						<legend>Liquidaciones Guardadas del Proceso</legend>
						<table class="table">
							<thead>
								<tr>
									<th>No.</th>
									<th>Fecha Elaboración</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</fieldset>
				</div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/procesos.js" asp-append-version="true"></script>
    <script src="~/js/calc_salario.js" asp-append-version="true"></script>
}